{% load i18n %}
<h2 id="modal-title" class="font-semibold mb-4 text-lg">
    Generuj rachunki
  </h2>
  <form method="post" hx-post="{{ request.path }}" hx-push-url="false" id="billings-form"
      class="flex flex-col gap-3"> {% csrf_token %}
      {{ form2.non_field_errors }}
      <div class="flex flex-col gap-1 w-full">

        <label for="id_date_month_month" class="mt-3 text-sm text-neutral-600 font-semibold">Dla okresu:</label>
        <div class="flex gap-1 w-full">
            {{ form2.date_month }}
        </div>
        {{ form2.date_month.errors }}
      </div>
    <div class="flex flex-col gap-1 w-full">
        <label for="id_username" class="mt-3 text-sm text-neutral-600 font-semibold">Opcjonalnie wypełnij poniższe pole jeśli chcesz
        wygenerować rachunek tylko dla wybranego dziecka</label>
        {{ form2.child.errors }}
        {{ form2.child }}
      </div>
      <div class="flex gap-2 justify-center items-center w-full my-4 lg:mt-8">
          <button type="button" class="cancelBtn rounded-md border-2
              px-4 pt-2 pb-2 bg-amber-100 hover:bg-amber-200 hover:shadow-md transition-all duration-300
              uppercase font-semibold">{% translate 'Back' %}</button>
          <button type="submit" class="self-end rounded-md border-2
              px-4 pt-2 pb-2 text-white bg-sky-700 hover:bg-sky-600 hover:shadow-md transition-all duration-300
              uppercase font-semibold">
              Generuj
            </button>
      </div>
      <div>
        <p class="text-sm text-neutral-800">Jeśli w wybranym okresie istnieją zatwierdzone rachunki, zostaną one pominięte.
            Jeśli chcesz je wygenerować na nowo, najpierw usuń je z bazy.</p>
      </div>
  </form>


