{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div id="billings">
    <div class="top-container flex flex-wrap justify-center items-center py-3 bg-sky-700 w-full">
        <h1 class="text-xl font-semibold text-center text-white">
            {{ object.date_month|date:'F Y'}}:
            <span class="text-amber-100">{{ object.child_name }}</span>
        </h1>
    </div>
    {% include 'includes/logout_form.html' %}
    <main id="billing-main" class="modal-wrapper flex flex-col items-center w-full min-h-dvh">
        {% if messages %}
        <div x-data="{showMsg : true}" @click.outside="showMsg = false" class="fixed top-3 right-3 z-10">
            <div x-show="showMsg"
                class="relative pr-5 pl-3 pb-4 bg-[#e0f6e2] rounded-md border-2 border-[#77ef7f] shadow-sm">
                <button @click="showMsg = false"
                    class="ml-auto -mr-4 flex justify-center items-center px-2 rounded-md after:absolute after:inset-0"
                    aria-label="Zamknij"><span aria-hidden="true">x</span></button>
                {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <section id="children" class="my-10 md:my-8 px-1 relative">
            <h1 class="text-2xl font-semibold mb-8 text-center">
                {% translate 'Edit billing' %}
            </h1>
            <form method="post" class="flex flex-col gap-2 items-start justify-center bg-neutral-100 border-2 border-neutral-300 rounded-md
                p-4 sm:p-6 md:p-10  lg:py:8 my-1 w-full  md:w-[750px] shadow-md"> {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="flex flex-wrap gap-2 w-full justify-center md:justify-between">
                    <div class="flex flex-col gap-1">
                        {{ form.days_count.as_field_group }}
                    </div>
                    <div class="flex flex-col gap-1">
                        {{ form.food_price.as_field_group }}
                    </div>
                    <div class="flex flex-col gap-1">
                        {{ form.food_total.as_field_group }}
                    </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-center md:justify-between w-full mt-4">
                    <div class="flex flex-col gap-1">
                        {{ form.local_subsidy.as_field_group }}
                    </div>
                    <div class="flex flex-col gap-1">
                        {{ form.gov_subsidy.as_field_group }}
                    </div>
                    <div class="flex flex-col gap-1">
                        {{ form.other_subsidies.as_field_group }}
                    </div>
                </div>
                <div class="flex flex-col flex-wrap gap-2 justify-center w-full mt-4">
                    <div class="flex flex-col gap-1">
                        {{ form.info_subsidies.as_field_group }}
                    </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-center md:justify-start">
                    <div class="flex flex-col gap-1">
                        {{ form.monthly_payment.as_field_group }}
                    </div>
                    <div class="flex flex-col gap-1">
                        {{ form.payment_to_charge.as_field_group }}
                    </div>
                </div>
                <div class="flex gap-2 justify-end items-center w-full mt-4">
                    <button type="button" name="back" class="rounded-md border-2
                        px-4 pt-2 pb-2 bg-amber-100 hover:bg-amber-200 hover:shadow-md transition-all duration-300
                        uppercase font-semibold"
                        onclick=history.back()>
                        {% translate 'Back' %}</button>
                    <button type="submit"
                        {% if creating %}
                        hx-post="{{ request.path }}"
                        hx-target="#billings"
                        hx-swap="outerHTML"
                        {% endif %}
                        class="self-end rounded-md border-2
                        px-4 pt-2 pb-2 bg-sky-700 text-white hover:bg-sky-600 hover:shadow-md
                        transition-all duration-300
                        uppercase font-semibold">
                        {% if updating %}{% translate 'Change' %}
                        {% else %}{% translate 'Ready' %}
                        {% endif %}</button>
                </div>
            </form>
            <div class="modalBackground hidden"></div>
            <div id="parent-form-wrapper">
                <div role="dialog" id="modal" aria-labelledby="modal-title" hx-target="this" class="no-inert modalbox hidden bg-neutral-50 rounded-md lg:w-96
            px-2 py-3 md:p-6 lg:px-12 lg:py-6" tabindex="-1">
                </div>
            </div>
        </section>
    </main>
</div>
{% if updating %}
{% include 'absences/includes/absences_modals.html' %}
{% endif %}
{% endblock content%}