{% extends "base.html" %}

{% load render_table export_url from django_tables2 %}

{% load django_tables2 i18n static %}

{% block content %}
<main id="billings-main" class="top-container modal-wrapper overflow-x-hidden min-h-dvh flex flex-col">
  {% include 'billings/includes/actions_panel.html' %}
  <div id="billings" class="flex flex-col justify-center items-center mt-14 md:mt-14"  hx-push-url="true">
  {% include 'includes/logout_form.html' %}
    <section class="billings mt-10 mb-8 px-1 relative">
      <h1 class="text-2xl font-semibold mb-8 text-center">Zestawienie rachunków</h1>
      <div class="table-top-container">
        {# Bulk actions and search bar #}
          <div class="flex flex-wrap justify-center items-end gap-3 mt-2 p-2 border-2 rounded-sm bg-neutral-200 border-neutral-300">
            <div class="flex gap-1 flex-col items-start">
              <label for="id_month" class="font-semibold text-sm text-neutral-800">{% translate 'Month' %}</label>
              {{filter.form.month}}
            </div>
            <div class="flex gap-1 flex-col items-start">
              <label for="id_year" class="font-semibold text-neutral-800 text-sm">{% translate 'Year' %}</label>
              {{filter.form.year}}
            </div>
            <div class="flex gap-1 flex-col items-start">
              <label for="id_query" class="font-semibold text-neutral-800 text-sm">{% translate 'Find child' %}</label>
              <input id="id_query" type="search" name="query" placeholder="{% translate 'Enter child' %}"
                class="searchinput form-control" id="id_query"
                hx-trigger="keyup changed delay:500ms, search"
                hx-get="{% url 'billings:billings' %}"
                hx-indicator=".progress"
                hx-target=".table-container"
                hx-include="[name='month'], [name='year']"
                x-data
                x-on:htmx:before-request="$dispatch('clear-pagination-and-sort')">
          </div>
          <button id="btn-abs-nursery" class="flex items-center h-11 px-2 gap-1 border-2 border-neutral-300
                rounded-md bg-amber-100 hover:bg-amber-200 focus:bg-amber-200
                duration-300 transition-colors"
                hx-target="#modal"
                hx-get="{% url 'billings:create' %}"
                hx-push-url="false">
              <svg class="w-5 h-5" aria-hidden="true">
                <use href="{% static 'img/sprite.svg' %}#plus" />
              </svg>
              {% translate 'Add' %}
          </button>
        </div>
      </div>
      <div x-data="{paginationClicked: false}" class="scroll-wrapper max-w-[1200px]" tabindex="0">
        {# Table header #}
        <form id="bulk-actions"
          hx-get="{% url 'billings:billings' %}"
          hx-target=".table-container"
          hx-trigger="sort-initiated, pagination-initiated, billingsDeleted from:body, noteUpdateCalled from:body, newReport from:body"
          hx-swap="outerHTML"
          hx-include="#id_query, #id_month, #id_year"
          hx-indicator=".progress"
          hx-push-url="true"
          x-data="{ sort_by: '',
                    page_by: 1,
                    select_all: false,
                    last_checked: false }"
          @clear-pagination-and-sort.window="page_by = 1; sort_by = ''"
          x-on:htmx:after-swap="select_all = false"
          >
          {# Hidden input to store pagination page and column to sort by #}
          <input type="hidden" name="sort" x-ref="sort_input" x-model="sort_by"
                x-init="$watch('sort_by',
                                () => $refs.sort_input.dispatchEvent(
                                          new Event('sort-initiated',
                                                    { bubbles: true })))">

          <input type="hidden" name="page" x-ref="paginate_input" x-model="page_by"
                x-init="$watch('page_by',
                                () => $refs.paginate_input.dispatchEvent(
                                          new Event('pagination-initiated',
                                                    { bubbles: true })))">

          {# Progress indicator #}
          <div class="progress">
            <div class="indeterminate"></div>
          </div>

            {# Content table #}
            {% render_table table %}
          </form>
        </div>
      </div>
    </section>
    <div class="modalBackground hidden z-30"></div>
    <div id="billing-form-wrapper">
        <div role="dialog" id="modal" aria-labelledby="modal-title"
            hx-target="this"
            class="no-inert modalbox hidden bg-neutral-50 rounded-md lg:w-96
            px-2 py-3 md:p-6 z-40"
            tabindex="-1">
        </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}
</main>
{% endblock %}
{% block footer %}
<script>
    // Set the checkbox to be checked from the start
    // to end when the user presses the shift key.
  function checkRange(event) {
    let checkboxes = document.getElementsByName('selection');
    let inBetween =  false;
    if( event.shiftKey && event.target.checked ) {
      checkboxes.forEach( checkbox => {
        if( checkbox === event.target || checkbox === last_checked ) {
          inBetween = !inBetween;
        }
        if( inBetween ) {
          checkbox.checked = true;
        }
      });
    }
    last_checked = event.target;
  }
</script>
{% endblock %}