{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div id="children-wrapper">
{% include 'absences/includes/absences_top_info.html' %}
<main id="children-main"
class="modal-wrapper flex flex-col items-center w-full min-h-dvh">
  {% if messages %}
  <div x-data="{showMsg : true}" @click.outside="showMsg = false" class="fixed top-3 right-3 z-10">
    <div x-show="showMsg" class="relative pr-5 pl-3 pb-4 bg-[#e0f6e2] rounded-md border-2 border-[#77ef7f] shadow-sm">
      <button @click="showMsg = false" class="ml-auto -mr-4 flex justify-center items-center px-2 rounded-md after:absolute after:inset-0"
      aria-label="Zamknij"><span aria-hidden="true">x</span></button>
      {% for m in messages %}
      <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <section id="children" class="my-8 px-1 relative">
    <h1 class="text-2xl font-semibold mb-8 text-center">
        {% if updating %}
        {% translate 'Edit child' %}
        {% else %}
        {% translate 'Add child' %}
        {% endif %}
    </h1>
    <form method="post"
        class="flex flex-col gap-2 items-start justify-start bg-neutral-100 border-2 border-neutral-300 rounded-md
        p-4 sm:p-6 md:p-10 lg:px-12 lg:py:8 my-1 w-full  md:w-[600px] shadow-md"> {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="flex flex-wrap gap-2 w-full">
            <div class="flex flex-col gap-1 w-full">
                {{ form.first_name.as_field_group }}
            </div>
            <div class="flex flex-col gap-1 w-full">
                {{ form.last_name.as_field_group }}
            </div>
        </div>
        <div class="flex flex-wrap gap-2 justify-between w-full">
            <div class="flex flex-col gap-1">
                {{ form.admission_date.as_field_group }}
            </div>
            <div class="flex flex-col gap-1">
                {{ form.leave_date.as_field_group }}
            </div>
            <div class="flex my-2 sm:my-0 sm:flex-col gap-3 min-w-20 items-center">
                {{ form.local_subsidy.as_field_group }}
            </div>
        </div>
        <div class="flex flex-wrap gap-1 w-full">
            {{ form.food_price.as_field_group }}
        </div>
        <div class="flex flex-wrap gap-1 w-full">
            {{ form.gov_subsidy.as_field_group }}
        </div>
        <div class="flex flex-wrap gap-1 w-full">
            {{ form.other_subsidies.as_field_group }}
        </div>
        <hr class="mt-4 mb-2 h-px bg-gray-400 border-0 w-full">
        <div class="flex flex-wrap gap-1 w-full">
            <div class="flex items-center gap-2 mb-2">
                <label for="{{ form.parent.id_for_label }}" class="block">{% translate 'Parental account' %}</label>
                <a id="parent_add"
                    class="openModal cursor-pointer flex items-center text-sm gap-1 text-blue-700 font-semibold"
                    hx-target="#modal"
                    hx-get="{% url 'users:parent_create' %}"
                    hx-vals='{"action": "add"}'
                    >
                    <svg class="w-4 h-4 fill-blue-700" alt="" aria-hidden="true">
                        <use href="{% static 'img/sprite.svg' %}#plus2" />
                    </svg>
                    {% translate 'Add' %}
                </a>
                <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                    hx-get="{% url 'users:parent_update' %}"
                    hx-target="#modal"
                    title="{% translate 'Change password' %}">
                    <svg class="w-4 h-4 fill-green-700" alt="" aria-hidden="true">
                        <use href="{% static 'img/sprite.svg' %}#lock" />
                    </svg>
                    <span class="sr-only">{% translate 'Change password' %}</span>
                </a>
                <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                    hx-get="{% url 'users:parent_email' %}"
                    hx-target="#modal"
                    title="{% translate 'Change email' %}">
                    <svg class="w-4 h-4 fill-neutral-700" alt="" aria-hidden="true">
                        <use href="{% static 'img/sprite.svg' %}#at" />
                    </svg>
                    <span class="sr-only">{% translate 'Change email' %}</span>
                </a>
                <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                    hx-get="{% url 'users:parent_delete' %}"
                    hx-target="#modal"
                    title="{% translate 'Delete' %}">
                    <svg class="w-4 h-4 fill-red-700" alt="" aria-hidden="true">
                        <use href="{% static 'img/sprite.svg' %}#trash" />
                    </svg>
                    <span class="sr-only">{% translate 'Delete' %}</span>
                </a>
            </div>
            {{ form.parent }}
            {{ form.parent.errors }}
        </div>
        <div class="flex gap-2 justify-end items-center w-full mt-4 lg:mt-8">
            <button type="button" class="rounded-md border-2
                px-4 pt-2 pb-2 bg-amber-100 hover:bg-amber-200 hover:shadow-md transition-all duration-300
                uppercase font-semibold"
                {% if redirect_to != '' %}
                hx-get="{{redirect_to}}"
                {% else %}
                hx-get="{% url 'kids:children' %}"
                {% endif %}
                hx-target="#children-wrapper"
                hx-swap="outerHTML">
                {% translate 'Back' %}</button>
            <button type="submit"
                {% if creating %}
                hx-post="{{ request.path }}"
                hx-target="#children-wrapper"
                hx-swap="outerHTML"
                {% endif %}
                class="self-end rounded-md border-2
                px-4 pt-2 pb-2 bg-sky-700 text-white hover:bg-sky-600 hover:shadow-md
                transition-all duration-300
                uppercase font-semibold">{% translate 'Ready' %}</button>
        </div>
    </form>
    <div class="modalBackground hidden"></div>
    <div id="parent-form-wrapper">
        <div role="dialog" id="modal" aria-labelledby="modal-title"
            hx-target="this"
            class="no-inert modalbox hidden bg-neutral-50 rounded-md lg:w-96
            px-2 py-3 md::p-6 lg:px-12 lg:py-6"
            tabindex="-1">
        </div>
    </div>
</section>
</main>
</div>
{% if updating %}
{% include 'absences/includes/absences_modals.html' %}
{% endif %}
{% endblock content%}
