{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div id="activities-wrapper">
{% include 'absences/includes/absences_top_info.html' %}
    <main id="activities-main">
        <section id="activities">
            <div class="flex gap-4 my-8 flex-wrap justify-center items-center">
                <h1 class="text-2xl font-semibold text-center">{% translate 'Activities' %}</h1>
                <button id="btn-abs-nursery" class="flex items-center h-11 px-2 gap-1 border-2 border-neutral-300
                rounded-md bg-amber-100 hover:bg-amber-200 focus:bg-amber-200
                duration-300 transition-colors"
                hx-target="#activities"
                hx-select="#activities"
                hx-get="{% url 'info:activity_create' %}?next={{ request.get_full_path|urlencode}}"
                hx-swap="outerHTML"
                hx-push-url="true"
                >
                <svg class="w-5 h-5" aria-hidden="true">
                    <use href="{% static 'img/sprite.svg' %}#plus" />
                </svg>
                    {% translate 'Add' %}
                </button>
            </div>
            <div>
                {% for item in activities %}
                    {{item}}
                {% endfor %}
            </div>
        </section>
    </main>
</div>
{% endblock content %}