{% load static %}
{% block content %}
<div class="flex flex-col">
    <div class="flex gap-2 justify-start items-center lg:mb-4">
        <div class="ml-2 w-14 h-14 ">
            <img src="{% static 'img/logozlobeknobg.png' %}" class="w-full h-full inline-block" alt="Logo"/>
        </div>
        <h2 class="font-bold text-3xl px-2 lg:px-0">{{chosen_date|date:"d.m.Y"}}</h2>
    </div>
    {% if activities.main_topic or activities.topic %}
    <div class="relative lg:h-28 mt-4">
        <div class="px-4 lg:pr-4 sky-linear-dark lg:sky-linear py-4 text-right text-white lg:w-screen lg:absolute lg:top-0 lg:right-0 z-10">
            <p class="uppercase text-xl">{{activities.main_topic}}</p>
            <p class="font-semibold text-2xl ">{{activities.topic}}</p>
        </div>
    </div>
    {% endif %}
    <div class="mt-6 px-6 lg:px-0">
        {% if activities.special_event %}
        <p class="font-semibold text-[#d70263]  mb-3">{{activities.special_event}}</p>
        <hr class="h-1 my-2 w-full">
        {% comment %} <p class="inline-block mb-2">{{activities.activity}}</p> {% endcomment %}
        {% endif %}
        {% if activities.activity %}
        <p class="font-semibold">Aktywność i działalność dziecka</p>
        <p class="inline-block mb-2">{{activities.activity}}</p>
        {% endif %}
        {% if activities.movement %}
        <p class="font-semibold">Aktywność ruchowa</p>
        <p class="inline-block mb-2">{{activities.movement}}</p>
        {% endif %}
        {% if activities.music %}
        <p class="font-semibold">Aktywność muzyczna</p>
        <p class="inline-block mb-2">{{activities.music}}</p>
        {% endif %}
        {% if activities.art %}
        <p class="font-semibold">Aktywność plastyczna</p>
        <p class="inline-block mb-2">{{activities.art}}</p>
        {% endif %}
        {% if activities.other %}
        <p class="font-semibold">Inne:</p>
        <p class="inline-block mb-2">{{activities.other}}</p>
        {% endif %}
    </div>
    {% if menu %}
    <hr />
    <div class="px-6 lg:px-0">
        <h2 class="font-semibold text-2xl my-4">Jadłospis</h2>
        <h3 class="font-semibold">Śniadanie</h3>
        <p class="mb-2">{{menu.breakfast}}</p>
        <h3 class="font-semibold">Zupa</h3>
        <p class="mb-2">{{menu.soup}}</p>
        <h3 class="font-semibold">II danie</h3>
        <p class="mb-2">{{menu.lunch}}</p>
        <h3 class="font-semibold">Podwieczorek</h3>
        <p class="mb-2">{{menu.teatime}}</p>
    </div>
    {% endif %}
    {% if success %}
    <h3>Dziękujemy za zgłoszenie nieobecności dziecka!</h3>
    {% endif %}


    <div id="absence-form" class="w-full text-center my-4">
        <div id="form-container" class="p-2 md:p-4 rounded-md"></div>
    </div>
</div>
{% endblock content %}