{% load static %}
<div id="info-day" class="flex flex-col">
    <div class="flex gap-2 justify-start items-center lg:mb-4">
        <div class="-ml-2 w-14 h-14 ">
            <img src="{% static 'img/logozlobeknobg.png' %}" class="w-full h-full inline-block" alt="Logo"/>
        </div>
        <h2 class="font-bold text-3xl px-2 lg:px-0">{{chosendate|date:"d.m.y"}}</h2>
    </div>
    <div class="relative lg:h-28 mt-4">
        <div class="px-4 lg:h-full lg:pr-4 sky-linear-dark lg:sky-linear py-4 text-right text-white lg:w-screen lg:absolute lg:top-0 lg:right-0 z-10">
            {% if activities.main_topic %}
            <p class="uppercase text-xl">{{activities.main_topic}}</p>
            {% endif %}
            {% if activities.topic %}
            <p class="font-semibold text-2xl ">{{activities.topic}}</p>
            {% else %}
             <p class="font-semibold text-2xl mr-8">{{chosendate|date:"l"}}</p>
            {% endif %}
        </div>
    </div>
    <div class="mt-6 px-6 lg:px-0">
        {% if activities.special_event %}
        <p class="font-semibold text-[#d70263]  mb-3">{{activities.special_event}}</p>
        <hr class="h-1 my-2 w-full">
        {% comment %} <p class="inline-block mb-2">{{activities.activity}}</p> {% endcomment %}
        {% endif %}
        {% if activities.activity %}
        <p class="font-semibold">Aktywność i działalność dziecka</p>
        <p class="inline-block mb-2">{{activities.activity}}</p>
        {% endif %}
        {% if activities.movement %}
        <p class="font-semibold">Aktywność ruchowa</p>
        <p class="inline-block mb-2">{{activities.movement}}</p>
        {% endif %}
        {% if activities.music %}
        <p class="font-semibold">Aktywność muzyczna</p>
        <p class="inline-block mb-2">{{activities.music}}</p>
        {% endif %}
        {% if activities.art %}
        <p class="font-semibold">Aktywność plastyczna</p>
        <p class="inline-block mb-2">{{activities.art}}</p>
        {% endif %}
        {% if activities.other %}
        <p class="font-semibold">Inne:</p>
        <p class="inline-block mb-2">{{activities.other}}</p>
        {% endif %}
    </div>
    {% if menu %}
    <hr />
    <div class="px-6 lg:px-0">
        <h2 class="font-semibold text-2xl my-4">Jadłospis</h2>
        <h3 class="font-semibold">Śniadanie</h3>
        <p class="mb-2">{{menu.breakfast}}</p>
        <h3 class="font-semibold">Zupa</h3>
        <p class="mb-2">{{menu.soup}}</p>
        <h3 class="font-semibold">II danie</h3>
        <p class="mb-2">{{menu.lunch}}</p>
        <h3 class="font-semibold">Podwieczorek</h3>
        <p class="mb-2">{{menu.teatime}}</p>
    </div>
    {% endif %}
    {% if success %}
    <h3>Dziękujemy za zgłoszenie nieobecności dziecka!</h3>
    {% endif %}
    <div class="flex w-full gap-2 items-center justify-around px-2 pb-2 mt-8"
        x-bind:hx-swap="scrollBox ? 'innerHTML show:.info-top:top' : 'innerHTML show:body:top'"
        x-bind:hx-indicator="scrollBox ? '#spinner,.loaded-content' : 'request-indicator2,.loaded-box'">
        <a href='{% url "info:day" day_before %}'
            hx-get='{% url "info:day" day_before %}'
            hx-target="#info"
            hx-trigger="click"
            hx-select="#info-day"
            hx-push-url='{% url "core:day" day_before %}'
            class="flex flex-col items-end font-semibold text-sm py-1 px-2
                bg-neutral-50 rounded-lg shadow-md
                hover:bg-neutral-200 transition-colors duration-300"
            title="Przejdż do poprzedniego dnia" >
            <svg class="w-8 h-8"><use href="{% static 'img/sprite.svg' %}#arrow-left" /></svg>
            Poprzedni dzień
        </a>
        <a href='{% url "info:day" next_day %}'
            x-bind:data-scroll="scrollBox ? 'true' : 'false'"
            hx-get='{% url "info:day" next_day %}'
            hx-target="#info"
            hx-trigger="click"
            hx-select="#info-day"
            hx-push-url='{% url "core:day" next_day %}'
            class="flex flex-col items-start font-semibold text-sm py-1 px-2
                bg-neutral-50 rounded-lg shadow-md
                hover:bg-neutral-200 transition-colors duration-300"
            title="Przejdż do następnego dnia">
            <svg class="w-8 h-8 rotate-180"><use href="{% static 'img/sprite.svg' %}#arrow-left" /></svg>
            Następny dzień
        </a>
    </div>
    <div id="absence-form" class="w-full text-center my-4">
        <div id="form-container" class="p-2 md:p-4 rounded-md"></div>
    </div>
</div>
