{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% load static django_tables2 %}

{% block content %}
<main id="absences-main" class="modal-wrapper flex flex-col justify-center items-center w-full">
  {% include 'absences/includes/absences_top_info.html' %}

  {% if messages %}
  <div x-data="{showMsg : true}" @click.outside="showMsg = false" class="fixed top-3 right-3">
    <div x-show="showMsg" class="relative pr-5 pl-3 pb-4 bg-[#e0f6e2] rounded-md border-2 border-[#77ef7f] shadow-sm">
      <button @click="showMsg = false" class="ml-auto -mr-4 flex justify-center items-center px-2 rounded-md after:absolute after:inset-0"
      aria-label="Zamknij"><span aria-hidden="true">x</span></button>
      {% for m in messages %}
      <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <section id="absences" class="my-8 px-1">
    <h1 class="text-2xl font-semibold mb-8 text-center">Zestawienie nieobecności</h1>
    {% comment %} Filters {% endcomment %}
    <div class="table-top-container">
      <div class="flex flex-wrap justify-center items-end gap-3 mt-2 p-2 border-2 rounded-sm bg-neutral-200 border-neutral-300">
        <div class="flex flex-wrap justify-center w-full sm:w-auto gap-1 sm:gap-3">
          <div class="flex flex-col gap-1">
            <label for="id_day" class="font-semibold text-sm text-neutral-800">Dzień</label>
            {{filter.form.day}}
          </div>
          <div class="flex flex-col gap-1">
            <label for="id_month" class="font-semibold text-sm text-neutral-800">Miesiąc</label>
            {{filter.form.month}}
          </div>
          <div class="flex flex-col gap-1">
            <label for="id_year" class="font-semibold text-sm text-neutral-800">Rok</label>
            {{filter.form.year}}
          </div>
        </div>
        <div class="flex gap-2 items-end">
          <div class="w-full max-w-[300px] sm:w-auto flex flex-col gap-1">
            <label for="id_day" class="font-semibold text-sm text-neutral-800">Dziecko</label>
            <input type="search" name="query" placeholder="Nazwisko imię" class="searchinput form-control" id="id_query"
              hx-trigger="keyup changed delay:500ms, search" hx-get="{% url 'absences:absences_list' %}" hx-indicator=".progress"
              hx-target=".table-container" hx-include="[name='month'], [name='year'], [name='day'] " x-data
              x-on:htmx:before-request="$dispatch('clear-pagination-and-sort')">
          </div>
          <button id="btn-abs-nursery" class="flex items-center h-11 px-2 gap-1 border-2 border-neutral-300 rounded-md
            bg-amber-100 hover:bg-amber-200 focus:bg-amber-200
              duration-300 transition-colors"
              hx-target="#absences"
              hx-get="{% url 'absences:absence_create_nursery' %}?next={{ request.get_full_path|urlencode}}"
              hx-swap="innerHTML">
            <svg class="w-5 h-5" aria-hidden="true">
              <use href="{% static 'img/sprite.svg' %}#plus" />
            </svg>
            Dodaj
          </button>
        </div>
      </div>

      <div x-data="{paginationClicked: false}" class="absences scroll-wrapper" tabindex="0">
            {# Progress indicator #}
          <div class="progress">
            <div class="indeterminate"></div>
          </div>

        {# Table header #}
        <form id="bulk-actions" hx-get="{% url 'absences:absences_list' %}" hx-target=".table-container"
          hx-trigger="sort-initiated, pagination-initiated" hx-swap="outerHTML"
          hx-include="#id_query, #id_year, #id_month, #id_day" hx-indicator=".progress" x-data="{ sort_by: '',
                    page_by: 1}" @clear-pagination-and-sort.window="page_by = 1; sort_by = ''">

          {# Hidden input to store pagination page and column to sort by #}
          <input type="hidden" name="sort" x-ref="sort_input" x-model="sort_by" x-init="$watch('sort_by',
                            () => $refs.sort_input.dispatchEvent(
                                      new Event('sort-initiated',
                                                { bubbles: true })))">

          <input type="hidden" name="page" x-ref="paginate_input" x-model="page_by" x-init="$watch('page_by',
                            () => $refs.paginate_input.dispatchEvent(
                                      new Event('pagination-initiated',
                                                { bubbles: true })))">
          {# Content table #}
          <div class="">
            {% render_table table %}
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
{% include 'absences/includes/absences_modals.html' %}
{% endblock %}
{% block footer %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}