{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<main id="absences-update"
    class="modal-wrapper flex flex-col justify-center items-center w-full">
    {% include 'absences/includes/absences_top_info.html' %}
    {% if messages %}
    <div x-data="{showMsg : true}" @click.outside="showMsg = false" class="fixed top-3 right-3 z-10">
        <div x-show="showMsg" class="relative pr-5 pl-3 pb-4 bg-[#e0f6e2] rounded-md border-2 border-[#77ef7f] shadow-sm">
        <button @click="showMsg = false" class="ml-auto -mr-4 flex justify-center items-center px-2 rounded-md after:absolute after:inset-0"
        aria-label="Zamknij"><span aria-hidden="true">x</span></button>
        {% for m in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</p>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    <section id="absences" class="my-8 px-1 relative">
        <h1 class="text-2xl font-semibold mb-8 text-center">{% translate 'Edit absence' %}</h1>

        <div class="p-4 sm:p-6 lg:px-12 lg:py-6 bg-neutral-100 border-2 border-neutral-300 rounded-md shadow-md">
            <p class="mt-4 mb-5">{% translate 'Child' %}:
                <span class="font-semibold px-4 py-2 ml-2 border border-neutral-200 rounded-md bg-neutral-50">{{ object.child.first_name }} {{ object.child.last_name }}</span></p>
            <p class="mb-5">{% translate 'Date' %}:
                <span class="font-semibold px-4 py-2 ml-2 border border-neutral-200 rounded-md bg-neutral-50">{{ object.a_date }}</span></p>
            <p class="mb-5">{% translate 'Created at' %}:
                <span class="font-semibold px-4 py-2 ml-2 border border-neutral-200 rounded-md bg-neutral-50">{{ object.created_at|date:"d.m.Y H:i" }}</span></p>
            <form class="flex flex-col" method="post" >{% csrf_token %}
                <div>
                    {{ form.absence_type.label}}
                    {{ form.absence_type }}
                </div>
                <div>
                    {{ form.reason.label}}
                    {{ form.reason }}
                </div>
                <div class="flex gap-2 justify-end items-center w-full mt-4">
                    <button type="button" class="rounded-md border-2
                        px-4 pt-2 pb-2 bg-amber-100 hover:bg-amber-200 hover:shadow-md transition-all duration-300
                        uppercase font-semibold"
                        onclick="history.back()">{% translate 'Back' %}</button>
                    <button type="submit"
                        class="self-end rounded-md border-2
                        px-4 pt-2 pb-2 bg-blue-300 hover:bg-blue-400 hover:shadow-md transition-all duration-300
                        uppercase font-semibold">{% translate 'Change' %}</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}