{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="min-h-dvh flex flex-col">
  {% include 'absences/includes/absences_top_info.html' %}
  {% include 'includes/logout_form.html' %}
  <section class="relative mx-auto max-w-[1000px] flex flex-col gap-4 justify-center items-center mt-8 mb-4 pt-8 py-6">
    <div class="flex flex-wrap gap-4 justify-center">
      <div class="relative rounded-md border-4 bg-neutral-100 border-sky-700 w-72">
        <a class="cursor-pointer inline-block w-full h-full p-8 text-lg font-semibold after:absolute after:inset-0 after:z-10
          hover:bg-neutral-200 transition-colors duration-300"
        href="{% url 'kids:children' %}">Dzieci</a>
        <svg class=" absolute right-1 bottom-1 w-24 h-16 fill-blue-400" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#children" />
        </svg>
      </div>
      <div class="relative rounded-md border-4 border-sky-700 bg-neutral-100 w-72">
        <a class="cursor-pointer block text-lg font-semibold after:absolute after:inset-0 after:z-10
        hover:bg-neutral-200 transition-colors duration-300 p-8"
        href="{% url 'billings:billings' %}">Rachunki</a>
        <svg class=" absolute right-1 bottom-1 w-16 h-16 fill-zinc-500" aria-hidden="true">
          <use href="{% static 'img/sprite.svg' %}#bill" />
        </svg>
      </div>
    </div>
    <div class="flex flex-wrap gap-4 justify-center">
      <div class="relative rounded-md border-4 border-sky-700 bg-neutral-100 w-72">
        <a class="cursor-pointer block text-lg font-semibold after:absolute after:inset-0 after:z-10
        hover:bg-neutral-200 transition-colors duration-300 p-8"
        href="{% url 'absences:absences_list' %}">Nieobecności</a>
        <svg class=" absolute right-1 bottom-1 w-16 h-16 fill-rose-400" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#calendar" />
        </svg>
      </div>
      <div class="relative rounded-md border-4 border-sky-700 bg-neutral-100 w-72">
        <a class="cursor-pointer block text-lg font-semibold after:absolute after:inset-0 after:z-10
        hover:bg-neutral-200 transition-colors duration-300 p-8"
        href="{% url 'core:settings' %}">Ustawienia</a>
        <svg class=" absolute right-1 bottom-1 w-16 h-16 fill-green-700" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#gear" />
        </svg>
      </div>
    </div>
      <div class="flex flex-wrap gap-4 justify-center">
      <div class="relative rounded-md border-4 border-sky-700 bg-neutral-100 w-72">
        <a class="cursor-pointer block text-lg font-semibold after:absolute after:inset-0 after:z-10
        hover:bg-neutral-200 transition-colors duration-300 p-8"
        href="#">Jadłospis</a>
        <svg class=" absolute right-1 bottom-1 w-16 h-16 fill-lime-400" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#plate" />
        </svg>
      </div>
      <div class="relative rounded-md border-4 border-sky-700 bg-neutral-100 w-72">
        <a class="cursor-pointer block text-lg font-semibold after:absolute after:inset-0 after:z-10
        hover:bg-neutral-200 transition-colors duration-300 p-8"
        href="{% url 'info:activities_list' %}">Zajęcia</a>
        <svg class=" absolute right-1 bottom-1 w-16 h-16 fill-yellow-400" aria-hidden="true">
            <use href="{% static 'img/sprite.svg' %}#teddy" />
        </svg>
      </div>
    </div>
  </section>
{% include 'includes/footer.html' %}
</div>
{% include 'absences/includes/absences_modals.html' %}
{% endblock %}