{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div id="settings-wrapper">
    {% include 'absences/includes/absences_top_info.html' %}
    <main id="settings-main"
        class="modal-wrapper flex flex-col justify-center items-center w-full">
        <div id="messages"
            hx-get="{% url 'core:settings' %}"
            hx-swap="outerHTML"
            hx-select="#messages"
            hx-target="#messages"
            hx-trigger="showMsg from:body">
            {% if messages %}
            <div x-data="{showMsg : true}" @click.outside="showMsg = false" class="fixed top-3 right-3 z-10">
                <div x-show="showMsg" class="relative pr-5 pl-3 pb-4 bg-[#e0f6e2] rounded-md border-2 border-[#77ef7f] shadow-sm">
                <button @click="showMsg = false" class="ml-auto -mr-4 flex justify-center items-center px-2 rounded-md after:absolute after:inset-0"
                aria-label="Zamknij"><span aria-hidden="true">x</span></button>
                {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</p>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <section id="settings" class="my-8 px-1 relative">
            <h1 class="text-2xl font-semibold mb-8 text-center">{% translate 'Settings' %}</h1>
            <div id="days-off">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                    <h2 class="text-xl font-semibold">{% translate 'Additional days off' %}</h2>
                    <a id="parent_add"
                        class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                        hx-target="#modal"
                        hx-get="{% url 'core:day_create' %}"
                        >
                        <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                            <use href="{% static 'img/sprite.svg' %}#plus2" />
                        </svg>
                        {% translate 'Add' %}
                    </a>
                </div>
                <div id="days-off-content" class="flex flex-wrap gap-3"
                    hx-get="{% url 'core:settings' %}"
                    hx-select="#days-off-content"
                    hx-target="#days-off-content"
                    hx-swap="outerHTML"
                    hx-trigger="dayOffAdded from:body">
                    {% for item in additional_days_off %}
                        <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                            {{ item.day|date:"d-m-Y" }}
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-delete="{% url 'core:day_delete' item.id %}"
                                hx-target="closest div"
                                hx-swap="outerHTML"
                                confirm-swal="dodatkowy dzień wolny: {{ item.day|date:'d-m-Y' }}"
                                title="{% translate 'Delete' %}">
                                <svg class="w-4 h-4 fill-stone-600" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#trash" />
                                </svg>
                                <span class="sr-only">{% translate 'Delete' %}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="food-prices" class="mt-8">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                    <h2 class="text-xl font-semibold">{% translate 'Food prices' %}</h2>
                    <a class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                        hx-target="#modal"
                        hx-get="{% url 'core:food_price_create' %}"
                        >
                        <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                            <use href="{% static 'img/sprite.svg' %}#plus2" />
                        </svg>
                        {% translate 'Add' %}
                    </a>
                </div>
                <div id="food-prices-content" class="flex flex-wrap gap-3"
                hx-get="{% url 'core:settings' %}"
                hx-select="#food-prices-content"
                hx-target="#food-prices-content"
                hx-swap="outerHTML"
                hx-trigger="foodPriceAdded from:body, foodPriceChanged from:body"
                >
                    {% for item in food_prices %}
                        <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                            {{ item.name }}: {{ item.price }} zł
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-get="{% url 'core:food_price_update' item.id %}"
                                hx-target="#modal"
                                hx-select="#settings-form"
                                hx-swap="innerHTML"
                                title="{% translate 'Edit' %}">
                                <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#pen" />
                                </svg>
                                <span class="sr-only">{% translate 'Edit' %}</span>
                            </a>
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-delete="{% url 'core:food_price_delete' item.id %}"
                                hx-target="closest div"
                                hx-swap="outerHTML"
                                confirm-swal="stawkę żywieniową: {{ item.name }}: {{item.price}} zł"
                                title="{% translate 'Delete' %}">
                                <svg class="w-4 h-4 fill-stone-600" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#trash" />
                                </svg>
                                <span class="sr-only">{% translate 'Delete' %}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div id="messages-box" class="text-red-700 font-semibold mt-4"></div>
            </div>
            <div id="monthly-payment" class="mt-8">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                    <h2 class="text-xl font-semibold">{% translate 'Monthly payment' %}</h2>
                    {% if monthly_payment_count == 0 %}
                    <a class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                        hx-target="#modal"
                        hx-get="{% url 'core:monthly_payment_create' %}"
                        >
                        <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                            <use href="{% static 'img/sprite.svg' %}#plus2" />
                        </svg>
                        {% translate 'Add' %}
                    </a>
                    {% endif %}
                </div>
                <div id="monthly-payment-content" class="flex flex-wrap gap-3"
                    hx-get="{% url 'core:settings' %}"
                    hx-select="#monthly-payment-content"
                    hx-target="#monthly-payment-content"
                    hx-swap="outerHTML"
                    hx-trigger="paymentChanged from:body">
                     {% if monthly_payment %}
                    <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                        <p>{{ monthly_payment.price }} zł</p>
                              <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-get="{% url 'core:monthly_payment_update' monthly_payment.id %}"
                                hx-target="#modal"
                                hx-select="#settings-form"
                                hx-swap="innerHTML"
                                title="{% translate 'Edit' %}">
                                <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#pen" />
                                </svg>
                                <span class="sr-only">{% translate 'Edit' %}</span>
                            </a>
                    </div>
                     {% endif %}
                </div>
            </div>
            <div id="local_subsidy" class="mt-8">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                        <h2 class="text-xl font-semibold">{% translate 'Local subsidy' %}</h2>
                        {% if local_count == 0 %}
                        <a class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                            hx-target="#modal"
                            hx-get="{% url 'core:local_subsidy_create' %}"
                            >
                            <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                <use href="{% static 'img/sprite.svg' %}#plus2" />
                            </svg>
                            {% translate 'Add' %}
                        </a>
                        {% endif %}
                </div>

                <div id="local-subsidy-content" class="flex flex-wrap gap-3"
                    hx-get="{% url 'core:settings' %}"
                    hx-select="#local-subsidy-content"
                    hx-target="#local-subsidy-content"
                    hx-swap="outerHTML"
                    hx-trigger="localChanged from:body">
                    {% if local_subsidy %}
                    <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                        <p>{{ local_subsidy.amount }} zł</p>
                              <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-get="{% url 'core:local_subsidy_update' local_subsidy.id %}"
                                hx-target="#modal"
                                hx-select="#settings-form"
                                hx-swap="innerHTML"
                                title="{% translate 'Edit' %}">
                                <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#pen" />
                                </svg>
                                <span class="sr-only">{% translate 'Edit' %}</span>
                            </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="gov-subsidy" class="mt-8">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                    <h2 class="text-xl font-semibold">{% translate 'Government subsidies' %}</h2>
                    <a class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                        hx-target="#modal"
                        hx-get="{% url 'core:gov_subsidy_create' %}"
                        >
                        <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                            <use href="{% static 'img/sprite.svg' %}#plus2" />
                        </svg>
                        {% translate 'Add' %}
                    </a>
                </div>
                <div id="gov-subsidy-content" class="flex flex-wrap gap-3"
                hx-get="{% url 'core:settings' %}"
                hx-select="#gov-subsidy-content"
                hx-target="#gov-subsidy-content"
                hx-swap="outerHTML"
                hx-trigger="govChanged from:body"
                >
                    {% for item in government_subsidies %}
                        <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                            {{ item.name }}: {{ item.amount }} zł
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-get="{% url 'core:gov_subsidy_update' item.id %}"
                                hx-target="#modal"
                                hx-select="#settings-form"
                                hx-swap="innerHTML"
                                title="{% translate 'Edit' %}">
                                <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#pen" />
                                </svg>
                                <span class="sr-only">{% translate 'Edit' %}</span>
                            </a>
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-delete="{% url 'core:gov_subsidy_delete' item.id %}"
                                hx-target="closest div"
                                hx-swap="outerHTML"
                                confirm-swal="dopłatę: {{ item.name }}: {{item.amount}} zł"
                                title="{% translate 'Delete' %}">
                                <svg class="w-4 h-4 fill-stone-600" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#trash" />
                                </svg>
                                <span class="sr-only">{% translate 'Delete' %}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div id="messages-box2" class="text-red-700 font-semibold mt-4"></div>
            </div>
            <div id="other-subsidy" class="mt-8">
                <div class="flex flex-wrap gap-3 items-center mb-4">
                    <h2 class="text-xl font-semibold">{% translate 'Other subsidies' %}</h2>
                    <a class="openModal cursor-pointer flex items-center text-sm gap-1 text-sky-700 font-semibold"
                        hx-target="#modal"
                        hx-get="{% url 'core:other_subsidy_create' %}"
                        >
                        <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                            <use href="{% static 'img/sprite.svg' %}#plus2" />
                        </svg>
                        {% translate 'Add' %}
                    </a>
                </div>
                <div id="other-subsidy-content" class="flex flex-wrap gap-3"
                hx-get="{% url 'core:settings' %}"
                hx-select="#other-subsidy-content"
                hx-target="#other-subsidy-content"
                hx-swap="outerHTML"
                hx-trigger="otherChanged from:body"
                >
                    {% for item in other_subsidies %}
                        <div class="flex gap-2 items-center px-4 py-2 bg-neutral-100 border-2 border-neutral-200 rounded-md">
                            {{ item.name }}: {{ item.amount }} zł
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-get="{% url 'core:other_subsidy_update' item.id %}"
                                hx-target="#modal"
                                hx-select="#settings-form"
                                hx-swap="innerHTML"
                                title="{% translate 'Edit' %}">
                                <svg class="w-4 h-4 fill-sky-700" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#pen" />
                                </svg>
                                <span class="sr-only">{% translate 'Edit' %}</span>
                            </a>
                            <a class="openModal cursor-pointer flex items-center text-sm gap-1"
                                hx-delete="{% url 'core:other_subsidy_delete' item.id %}"
                                hx-target="closest div"
                                hx-swap="outerHTML"
                                confirm-swal="dopłatę: {{ item.name }}: {{item.amount}} zł"
                                title="{% translate 'Delete' %}">
                                <svg class="w-4 h-4 fill-stone-600" alt="" aria-hidden="true">
                                    <use href="{% static 'img/sprite.svg' %}#trash" />
                                </svg>
                                <span class="sr-only">{% translate 'Delete' %}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div id="messages-box3" class="text-red-700 font-semibold mt-4"></div>
            </div>
            <div class="modalBackground hidden"></div>
            <div id="form-wrapper">
            <div role="dialog" id="modal" aria-labelledby="modal-title"
                hx-target="this"
                class="no-inert modalbox hidden bg-neutral-50 rounded-md lg:w-96
                px-2 py-3 md::p-6 lg:px-12 lg:py-6"
                tabindex="-1">
            </div>
        </div>
        </section>

    </main>
</div>
{% endblock content %}